{% extends "base_form.html" %}

{% load i18n static %}
{% load i18n custom_tags %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'sbam:assignments_history' %}">{% trans "Μy Assignments" %}</a></li>
{% endblock %}

{% block page_name %}
    <strong>{% trans "My Assignments History" %}</strong>
{% endblock %}

{% block content %}
    <div class="card card-primary card-outline">
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-head-fixed table-responsive-md table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "assignment"|capfirst %}</th>
                        <th>{% trans "score"|capfirst %}</th>
                        <th>{% trans "Completion Date" %}</th>
                        <th>{% trans "Expiration Date" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignments_list %}
                        <tr {% if assignment.status == 'EXPIRED' %} class="text-muted" {% endif %}>
                            <td style="text-align:center">
                                {% if assignment.status == 'COMPLETED' %}
                                    <i class="fas fa-check-circle" style="color: darkgreen"
                                       title="{% trans "Completed" %}"></i>
                                {% elif assignment.status == 'EXPIRED' %}
                                    <i class="fas fa-minus-circle" style="color: darkred"
                                       title="{% trans "Expired" %}"></i>
                                {% elif assignment.campaign.ends_within_week %}
                                    <i class="fas fa-exclamation-circle" style="color: darkorange"
                                       title="{% trans "Expires in less than 7 days" %}"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if assignment.status == 'OPEN' %}
                                    <a href="{% url 'sbam:assignments' assignment.id %}">
                                        {{ assignment.questionnaire.title }}
                                        {{ assignment.test.title }}
                                    </a>
                                {% else %}
                                    {{ assignment.questionnaire.title }}
                                    {{ assignment.test.title }}
                                {% endif %}
                            </td>
                            <td style="text-align:right">
                                {% with score=assignment.get_result %}
                                    {% get_badge score as badge_type %}
                                    <span {% if badge_type != '' %}class="badge {{ badge_type }}"{% endif %}>
                                        {{ score }}
                                    </span>
                                {% endwith %}
                            </td>
                            <td style="text-align:right">{{ assignment.get_answer_time|default:'' }}</td>
                            <td style="text-align:right">{{ assignment.campaign.end_date|default:'' }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-muted">{% trans "No assignments available!" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block  extra_js  %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
{% endblock %}

