{% extends "base.html" %}
{% load static %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
{% endblock %}

{% block page_name %}
    <div class="row">
        <strong><i class="nav-icon fas fa-tachometer-alt mr-2"></i> {% trans "Dashboard" %}</strong>
    </div>
{% endblock %}

{% block extra_head %}
    <link href="{% static "sbam_app/css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container assignmets">
        <div class="row">
            <div class="col col-md-6">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="active-ass-tab" data-toggle="pill"
                                   href="#active-ass" role="tab"
                                   aria-controls="active-ass"
                                   aria-selected="true"><i class="fas fa-hourglass-half"></i>
                                    {% trans "Active Assignments" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="compl-ass-tab" data-toggle="pill"
                                   href="#compl-ass" role="tab"
                                   aria-controls="compl-ass"
                                   aria-selected="false"><i class="fas fa-check"></i> {% trans "Completed Assignments" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="expired-ass-tab" data-toggle="pill"
                                   href="#expired-ass" role="tab"
                                   aria-controls="expired-ass"
                                   aria-selected="false"><i class="fas fa-calendar-times"></i> {% trans "Expired Assignments" %}
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="active-ass" role="tabpanel"
                                 aria-labelledby="active-ass-tab">
                                <ul class="list-group active-assignments">
                                    {% for quest in active_questionnaires %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ quest.questionnaire.title }}</strong>
                                                {% if quest.campaign.ends_within_week %}
                                                    <div class="col-xs-5 col-xs-offset-7">
                                                        <div class="alert alert-warning text-center" role="alert">
                                                            {% trans "Ends soon!" %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <div class="align-self-end"><strong>{% trans "Due Date" %}: </strong> {{ quest.campaign.end_date }}</div>
                                                <a class="btn btn-primary ass-btn" href="{% url 'sbam:assignments' quest.id %}" role="button">{% trans "Start!" %}</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% for test in active_tests %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ test.test.domain }}</strong>
                                                {% if quest.campaign.ends_within_week %}

                                                        <div class="col-xs-4 col-xs-offset-7">
{#                                                            <div class="container">#}
                                                                <div class="alert alert-warning text-center" role="alert">
                                                                    {% trans "Ends soon!" %}
                                                                </div>
{#                                                            </div>#}
                                                        </div>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <div class="align-self-end"><strong>{% trans "Due Date" %}: </strong> {{ test.campaign.end_date }}</div>
                                                <a class="btn btn-primary" href="#" role="button">Start!</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% if active_questionnaires|length == 0 and active_tests|length == 0 %}
                                    <p>No active assignments</p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="compl-ass" role="tabpanel"
                                 aria-labelledby="compl-ass-tab">
                                <ul class="list-group active-assignments">
                                    {% for quest in completed_questionnaires %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ quest.questionnaire.title }}</strong>
                                                <div class="align-self-end"><strong>{% trans "Completed at" %}: </strong> {{ quest.get_answer_time }}</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% for test in completed_tests %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ test.test.domain }}</strong>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <div class="align-self-end"><strong>{% trans "Completed at" %}: </strong> {{ test.get_answer_time }}</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% if completed_questionnaires|length == 0 and completed_tests|length == 0 %}
                                <p>No completed assignments</p>
                            {% endif %}
                            </div>
                            <div class="tab-pane fade" id="expired-ass" role="tabpanel"
                                 aria-labelledby="expired-ass-tab">
                                <ul class="list-group active-assignments">
                                    {% for quest in expired_questionnaires %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ quest.questionnaire.title }}</strong>
                                                <div class="align-self-end"><strong>{% trans "Ended at" %}: </strong> {{ quest.campaign.end_date }}</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% for test in expired_tests %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ test.test.domain }}</strong>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <div class="align-self-end"><strong>{% trans "Ended at" %}: </strong> {{ test.campaign.end_date }}</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% if expired_questionnaires|length == 0 and expired_tests|length == 0 %}
                                <p>No expired assignments</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


