{% extends "base_form.html" %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}

{% block page_name %}
    <div class="row">
        <strong>{% trans "group"|capfirst %}:</strong>
        <p class="ml-2">{{ group.name }}</p>
        {% if not group.groupprofile.is_active %}
            <p class="ml-2" style="color:indianred">{% trans "(disabled)" %}</p>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sbam:groups' %}">{% trans "Groups" %}</a></li>
    <li class="breadcrumb-item active">{% trans "group"|capfirst %}</li>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header pb-2 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="group-profile-general-info-tab" data-toggle="pill"
                                   href="#group-profile-general-info" role="tab"
                                   aria-controls="group-profile-general-info"
                                   aria-selected="true"><i class="fas fa-info-circle mr-2"></i>
                                    {% trans "General Information" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="group-members-tab" data-toggle="pill"
                                   href="#group-members" role="tab"
                                   aria-controls="group-members"
                                   aria-selected="false"><i class="fas fa-user-friends mr-2"></i>
                                    {% trans "members"|capfirst %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="group-profile-general-info" role="tabpanel"
                                 aria-labelledby="group-profile-general-info-tab">
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item p-0 border-0">
                                        <div class="row">
                                            <div class="col">
                                                {{ group_form.name|as_crispy_field }}
                                            </div>

                                            <div class="col">
                                                <div id="div_id_creator" class="form-group">
                                                    <label for="id_creator" class="">
                                                        {% trans "creator"|capfirst %}
                                                    </label>
                                                    <div class="">
                                                        <input type="text" name="creator"
                                                               value="{{ group.groupprofile.creator.get_full_name }}"
                                                               class="textinput form-control" disabled=""
                                                               id="id_creator">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div id="div_id_creation_tmp" class="form-group">
                                                    <label for="id_creation_tmp" class="">
                                                        {% trans "creation timestamp"|capfirst %}
                                                    </label>
                                                    <div class="">
                                                        <input type="text" name="creation_tmp"
                                                               value="{{ group.groupprofile.creation_timestamp }}"
                                                               class="textinput form-control" disabled=""
                                                               id="id_creation_tmp">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% crispy profile_form profile_form.general_info_helper %}
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="group-members" role="tabpanel"
                                 aria-labelledby="group-members-tab">
                                {{ group_form.members|add_class:"duallistbox" }}
                            </div>
                        </div>
                        <div class="float-right">
                            {% if request.user.is_superuser or request.user == group.groupprofile.creator %}
                                <button class="btn btn-outline-info btn-sm mt-4" type="submit"
                                        title="{% trans "Save changes" %}">
                                    <i class="fas fa-save mr-2"></i>{% trans "Save" %}
                                </button>

                                {% if request.user.is_superuser %}
                                    {% if group.groupprofile.is_active %}
                                        <button class="btn btn-outline-danger btn-sm mt-4" type="submit"
                                                formaction="disable"
                                                title="{% trans "Disable group" %}">
                                            <i class="fas fa-slash mr-2"></i>{% trans "Disable" %}
                                        </button>
                                    {% else %}
                                        <button class="btn btn-outline-success btn-sm mt-4" type="submit"
                                                formaction="enable"
                                                title="{% trans "Enable group" %}">
                                            <i class="fas fa-check mr-2"></i>{% trans "Enable" %}
                                        </button>
                                    {% endif %}
                                {% endif %}

                                <button class="btn btn-outline-secondary btn-sm mt-4" type="reset"
                                        title="{% trans "Discard changes" %}">
                                    <i class="fas fa-times-circle mr-2"></i>{% trans "Cancel" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}