{% extends "base.html" %}
{% load static %}
{% load i18n custom_tags %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
{% endblock %}

{% block page_name %}
    <div class="row">
        <strong></i> {% trans "My Dashboard" %}</strong>
    </div>
{% endblock %}

{% block extra_head %}
    <link href="{% static "sbam_app/css/dashboard.css" %}" rel="stylesheet">

    <!-- Amcharts Resources -->
    <script src="{% static 'js/amcharts4/core.js' %}"></script>
    <script src="{% static 'js/amcharts4/charts.js' %}"></script>
    <script src="{% static 'js/amcharts4/themes/animated.js' %}"></script>


{% endblock %}

{% block content %}
    <div class="container assignmets">
        <div class="row">
            <div class="col-xl-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5>Assignments</h5>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item col">
                                <a class="nav-link active" id="active-ass-tab" data-toggle="pill"
                                   href="#active-ass" role="tab"
                                   aria-controls="active-ass"
                                   aria-selected="true"><i class="fas fa-hourglass-half"></i>
                                    {% trans "Active Assignments" %}
                                </a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" id="compl-ass-tab" data-toggle="pill"
                                   href="#compl-ass" role="tab"
                                   aria-controls="compl-ass"
                                   aria-selected="false"><i class="fas fa-check"></i> {% trans "Finished Assignments" %}
                                </a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" id="expired-ass-tab" data-toggle="pill"
                                   href="#expired-ass" role="tab"
                                   aria-controls="expired-ass"
                                   aria-selected="false"><i class="fas fa-calendar-times"></i> {% trans "Expired Assignments" %}
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="active-ass" role="tabpanel"
                                 aria-labelledby="active-ass-tab">
                                <ul class="list-group active-assignments">
                                    {% for act_ass in active_assignments %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                {% if act_ass.questionnaire %}
                                                    <strong class="assignment_title">{{ act_ass.questionnaire.title }}</strong>
                                                {% else %}
                                                    <strong class="assignment_title">{{ act_ass.test.title }}</strong>
                                                {% endif %}
                                                {% if act_ass.campaign.ends_within_week %}
                                                    <div class="col-xs-5 col-xs-offset-7">
                                                        <div class="alert alert-warning text-center" role="alert">
                                                            {% trans "Ends soon!" %} <i class="fas fa-exclamation-circle"></i>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <div class="align-self-end"><strong>{% trans "Due Date" %}: </strong> {{ act_ass.campaign.end_date }}</div>
                                                <a class="btn btn-sm btn-success ass-btn" href="{% url 'sbam:assignments' act_ass.id %}" role="button">{% trans "Start!" %}</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% if active_assignments|length == 0 %}
                                    <p>No active assignments.</p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="compl-ass" role="tabpanel"
                                 aria-labelledby="compl-ass-tab">
                                <ul class="list-group active-assignments">
                                    {% for compl_ass in completed_assignments %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                {% if compl_ass.questionnaire %}
                                                    <strong class="assignment_title">{{ compl_ass.questionnaire.title }}</strong>
                                                {% else %}
                                                    <strong class="assignment_title">{{ compl_ass.test.title }}</strong>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <div class="align-self-end"><strong>{% trans "Completed at" %}: </strong> {{ compl_ass.get_answer_time }}</div>
                                                <div class="align-self-start">
                                                    {% with score=compl_ass.get_result %}
                                                        {% get_badge score as badge_type %}
                                                        <span {% if badge_type != 'Not Completed Yet' %} class="badge {{ badge_type }}"{% endif %}>
                                                            {{ score }}
                                                        </span>
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% if completed_assignments|length == 0 %}
                                <p>No completed assignments.</p>
                            {% endif %}
                            </div>
                            <div class="tab-pane fade" id="expired-ass" role="tabpanel"
                                 aria-labelledby="expired-ass-tab">
                                <ul class="list-group active-assignments">
                                    {% for exp_ass in expired_assignments %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                {% if exp_ass.questionnaire %}
                                                    <strong class="assignment_title">{{ exp_ass.questionnaire.title }}</strong>
                                                {% else %}
                                                    <strong class="assignment_title">{{ exp_ass.test.title }}</strong>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <div class="align-self-end"><strong>{% trans "Ended at" %}: </strong> {{ exp_ass.campaign.end_date }}</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% if expired_assignments|length == 0 %}
                                    <p>No expired assignments.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5>Campaigns</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-sm-inline-flex w-100 justify-content-between" style='border-bottom: 1px solid #dee2e6;'>
                            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist"  style='width: 100%; border-bottom: none;'>
                                <li class="nav-item col">
                                    <a class="nav-link active" id="active-ass-tab" data-toggle="pill"
                                    href="#active-camp" role="tab"
                                    aria-controls="active-camp"
                                    aria-selected="true"><i class="fas fa-hourglass-half"></i>
                                        {% trans "Active Campaigns" %}
                                    </a>
                                </li>
                                <li class="nav-item col">
                                    <a class="nav-link" id="finished-ass-tab" data-toggle="pill"
                                    href="#finished-camp" role="tab"
                                    aria-controls="finished-camp"
                                    aria-selected="true"><i class="fas fa-check"></i>
                                        {% trans "Finished Campaigns" %}
                                    </a>
                                </li>
                                <li class="nav-item col">
                                    <a class="nav-link" id="future-ass-tab" data-toggle="pill"
                                    href="#future-camp" role="tab"
                                    aria-controls="future-camp"
                                    aria-selected="true"><i class="fas fa-calendar"></i>
                                        {% trans "Future Campaigns" %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="active-camp" role="tabpanel"
                                 aria-labelledby="active-camp-tab">
                                <ul class="list-group active-campaigns">
                                    {% for camp in active_campaigns %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ camp.title }}</strong>
                                                <a class="btn btn-sm btn-primary ass-btn" href="{% url 'sbam:campaign' camp.id %}" role="button">{% trans "Details" %}</a>
                                            </div>
                                        </li>
                                    {% empty %}
                                        <p>No active campaigns.</p>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade " id="finished-camp" role="tabpanel"
                                 aria-labelledby="finished-camp-tab">
                                <ul class="list-group finished-campaigns">
                                    {% for camp in finished_campaigns %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ camp.title }}</strong>
                                                <a class="btn btn-sm btn-primary ass-btn" href="{% url 'sbam:campaign' camp.id %}" role="button">{% trans "Details" %}</a>
                                            </div>
                                        </li>
                                    {% empty %}
                                        <p>No finished campaigns.</p>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade " id="future-camp" role="tabpanel"
                                 aria-labelledby="future-camp-tab">
                                <ul class="list-group future-campaigns">
                                    {% for camp in future_campaigns %}
                                        <li  class="list-group-item  flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="assignment_title">{{ camp.title }}</strong>
                                                <a class="btn btn-sm btn-primary ass-btn" href="{% url 'sbam:campaign' camp.id %}" role="button">{% trans "Details" %}</a>
                                            </div>
                                        </li>
                                    {% empty %}
                                        <p>No future campaigns arranged.</p>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style='display: block; text-align: center; margin-top: 1rem;' >
            <h3>
                Status of the Organisation
            </h3>
            <div><a href="{% url 'sbam:reports' %}" style=" font-weight: bold; text-decoration: underline; color: #23a5e1;">More details</a></div>
        </div>
        <div  id='metrics-div' class="row" style=''>
            {% comment %} <div id='metrics-title-div' class="row">
                <h3>
                    Status of the Organisation
                </h3>
                <div style='width: 100%;'>
                    <a href="{% url 'sbam:reports' %}" style="font-weight: bold; text-decoration: underline; color: #23a5e1;">More details</a>
                </div>
            </div> {% endcomment %}
            {% comment %} <div class="row"> {% endcomment %}
                <div class="col-lg-6">
                    <div class='text-center' style='height: 90%;'>
                        <h5> {% trans "Organisational Dimensions" %} </h5>

                        <div id='chartdiv1' class='chartdiv'> </div>
                        <div class="loading">
                            <img src="{% static 'img/loading.gif' %}" alt="Loading..." />
                        </div>
                    </div>             
                </div>

                <div class="col-lg-6">
                    <div class='text-center' style='height: 90%;'>
                        <h5> {% trans "Individual Dimensions" %} </h5>
                        <div id='chartdiv2' class='chartdiv'> </div>
                        <div class="loading">
                            <img src="{% static 'img/loading.gif' %}" alt="Loading..." />
                        </div>
                    </div>
                </div>
            {% comment %} </div> {% endcomment %}
        </div>

    </div>

{% endblock %}


{% block extra_js %}
    <!-- Chart code -->
    <script>
        var chart1;
        var chart2;
        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            /* Create chart instance */
            chart1 = am4core.create("chartdiv1", am4charts.RadarChart);
            chart1.responsive.enabled = true;

            /* Add data */
            chart1.data = [];

            /* Create axes */
            var categoryAxis = chart1.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "title";
            categoryAxis.renderer.labels.template.location = 0.5;

            var label = categoryAxis.renderer.labels.template;
            label.wrap = true;
            label.maxWidth = 70;
            label.tooltipText = "{description}";
            categoryAxis.tooltip.label.wrap = true;
            categoryAxis.tooltip.label.width = 250;
            categoryAxis.tooltip.label.zIndex = 1040;
            console.log(label);
            if (screen.width < 400) {
                label.rotation = -45;
                label.fontSize = 10;
            }
            else {
                label.rotation = 0;
                label.fontSize = 12;
            }
            categoryAxis.events.on("sizechanged", function(ev) {
                if (screen.width < 400) {
                    label.rotation = -45;
                    label.fontSize = 10;
                }
                else {
                    label.rotation = 0;
                    label.fontSize = 12;
                }
            });
                   

            var valueAxis = chart1.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.labels.template.fillOpacity = 0.5;
            valueAxis.min = 0;
            valueAxis.max = 100;
            valueAxis.strictMinMax = true;
            valueAxis.renderer.minGridDistance = 20;     

            /* Create and configure series */
            var series = chart1.series.push(new am4charts.RadarColumnSeries());
            series.dataFields.valueY = "value";
            series.dataFields.categoryX = "title";
            series.strokeWidth = 0;
            series.stroke = am4core.color("#134a03");
            //series.fill = am4core.color("#269017");
            series.fillOpacity =0.7;
            series.sequencedInterpolation = true;
            series.sequencedInterpolationDelay = 100;   
            series.columns.template.tooltipText = "Dimension: {categoryX}\nValue: {valueY}%";

            series.columns.template.adapter.add("fill", function(fill, target) {
                return chart1.colors.getIndex(target.dataItem.index);
            });

            /* Add cursor */
            //chart1.cursor = new am4charts.RadarCursor();

            /* Make chart angled */
            chart1.startAngle = -170;
            chart1.endAngle = -10;
            chart1.innerRadius = am4core.percent(50);

        }); // end am4core.ready()
    </script>



    <!-- Chart code -->
    <script>
        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            /* Create chart instance */
            chart2 = am4core.create("chartdiv2", am4charts.RadarChart);
            chart2.responsive.enabled = true;

            chart2.data = [];


            /* Create axes */
            var categoryAxis = chart2.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "title";
            categoryAxis.renderer.labels.template.location = 0.5;

            var label = categoryAxis.renderer.labels.template;
            label.wrap = true;
            label.maxWidth = 70;
            label.tooltipText = "{description}";
            categoryAxis.tooltip.label.wrap = true;
            categoryAxis.tooltip.label.width = 250;
            categoryAxis.tooltip.label.zIndex = 1040;
            if (screen.width < 400) {
                label.rotation = -45;
                label.fontSize = 10;
            }
            else {
                label.rotation = 0;
                label.fontSize = 12;
            }
            categoryAxis.events.on("sizechanged", function(ev) {
                if (screen.width < 400) {
                    label.rotation = -45;
                    label.fontSize = 10;
                }
                else {
                    label.rotation = 0;
                    label.fontSize = 12;
                }
            });


            var valueAxis = chart2.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.labels.template.fillOpacity = 0.5;
            valueAxis.min = 0;
            valueAxis.max = 100;
            valueAxis.strictMinMax = true;
            valueAxis.renderer.minGridDistance = 20;

            /* Create and configure series */
            var series = chart2.series.push(new am4charts.RadarColumnSeries());
            series.dataFields.valueY = "value";
            series.dataFields.categoryX = "title";
            series.strokeWidth = 0;
            series.stroke = am4core.color("#9b4907");
            //series.fill = am4core.color("#d8670d");
            series.fillOpacity =0.7;
            series.sequencedInterpolation = true;
            series.sequencedInterpolationDelay = 100;   
            series.columns.template.tooltipText = "Dimension: {categoryX}\nValue: {valueY}%";

            series.columns.template.adapter.add("fill", function(fill, target) {
                return chart2.colors.getIndex(7+target.dataItem.index);
            });

            /* Make chart angled */
            chart2.startAngle = -170;
            chart2.endAngle = -10;
            chart2.innerRadius = am4core.percent(50);
        }); // end am4core.ready()
    </script>


    <script type='text/javascript'>
        function update_charts(){
            //$(".loading").show();
            var d = new Date();
            var n = d.getTime();
            $.ajax({
                url: "{% url 'sbam:get_reports_data' %}?timestamp="+n,
                type: 'GET',
                data: { 
                    report_level: 'organisation',
                    campaign_select: '',
                    group_select: '',
                    organisational_check: 'true',
                    individual_check: 'true',
                    time_period: 24
                },
                success: function(result) {
                    if (result) {
                        console.log(result);
                        graph_data = result.graph_data;
                        chart1.invalidateData();
                        chart2.invalidateData();

                        chart1.data = graph_data.dimensions.filter(function (d){return d.level=== 0;});
                        chart2.data = graph_data.dimensions.filter(function (d){return d.level=== 1;});
                        
                        $(".loading").hide();
                        chart1.reinit();
                        chart2.reinit();
                    }
                    
                },
                error: function() {
                    $(".loading").hide();
                    alert("Error");
                }
            });
        }

        $(document).ready(function(){
            update_charts();
        });
    </script>

{% endblock %}