{% extends "base.html" %}
{% load static %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}

{% block extra_head %}
    {{ campaign_form.media }}
    <link href="{% static "sbam_app/css/campaign_creation.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %}'/>
    <link rel="stylesheet" type="text/css" href='{% static 'admin-lte/plugins/select2/css/select2.css' %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.css" %}'/>
    <link href="{% static "admin-lte/plugins/toastr/toastr.min.css" %}" rel="stylesheet">
{#    <link rel="stylesheet" type="text/css" href='{% static "vendor/select2-bootstrap4-theme/dist/select2-bootstrap4.css"%}' />#}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sbam:campaigns' %}">{% trans "campaigns"|capfirst %}</a></li>
    <li class="breadcrumb-item active">{% trans "New Campaign" %}</li>
{% endblock %}

{% block page_name %}
    <div class="row">
        <strong>{% trans "Create new campaign" %}</strong>
    </div>
{% endblock %}

{% block content %}
    <div class="container campaign_creation_form">
        <form method="post" action=".">
            <div class="row">
                {% csrf_token %}
                <div class="col-lg-9">
                    <div class="card card-primary card-outline">
                        <div class="card-body" style='padding: 0.25rem;'>
                            <div class="form-row row">
                                <div class="form-group col-lg-4 questionnaiers">
                                    <div class="labels">
                                        <label>Questionnaires</label>
                                    </div>
                                    <div class="tree_container" id="dim_tree_container"></div>
                                </div>
                                <div class="form-group col-lg-4 tests">
                                    <div class="labels">
                                        <label>Tests</label>
                                    </div>
                                    <p class="tests_avail">No tests available currently</p>
                                    <div class="tree_container" id="tests_tree_container">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 users">
                                    <div class="labels">
                                        <label>Users</label>
                                    </div>
                                    <div class="tree_container" id="user_tree_container">
                                        <p class="users_avail">No users available currently</p>
                                    </div>
                                </div>
                            </div>
                            <hr style='margin: 0;'>
                            <div class="selected-row row">
                                <div class="form-row container-fluid" style="height: 100%">
                                    <div class="form-group col-lg-4 sel_domains" style="height: 100%">
                                        <div class="labels">
                                            <label>Selected Questionnaires</label>
                                        </div>
                                        <div class="table-responsive-sm">
                                            <div class="container selected-items">
                                                <table id="selected_domains"
                                                       class="table table-striped table-responsive-sm">
                                                    <tbody></tbody>
                                                </table>
                                                <p class="sel-quest-par">No selected Questionnaires</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 sel_tests " style="height: 100%">
                                        <div class="labels">
                                            <label>Selected Tests</label>
                                        </div>
                                        <div class="table-responsive-sm">
                                            <div class="container selected-items">
                                                <table id="selected_tests"
                                                       class="table table-striped table-responsive-sm">
                                                    <tbody></tbody>
                                                </table>
                                                <p class="sel-tests-par">No selected Tests</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 sel_users" style="height: 100%">
                                        <div class="labels">
                                            <label>Selected Users</label>
                                        </div>
                                        <div class="table-responsive-sm">
                                            <div class="container selected-items">
                                                <table id="selected_users"
                                                       class="table table-striped table-responsive-sm">
                                                    <tbody></tbody>
                                                </table>
                                                <p class="sel-usr-par">No selected Users or User Groups</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-primary card-outline">
                        <h4 class="legend">Campaign details</h4>
                        <div class="card-body">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item p-0 border-0 mb-3">
                                    {% crispy campaign_form campaign_form.general_info_helper %}
                                </li>
                                <li class="list-group-item p-0 border-0 mb-3">
                                    <div class="row">
                                        <div class="col col-md-6">
                                            <button type="button" class="btn btn-success btn-sm" id="create_campaign_btn"
                                                title="{% trans "Create new campaign" %}">Create Campaign
                                            </button>
                                        </div>
                                        <div class="col col-md-6">
                                            <button type="button" class="btn btn-primary btn-sm float-right" id="edit_phishing_test" style="display: none;"
                                                title="{% trans "Edit Phishing Test" %}">Edit Phishing Test
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade bd-example-modal-lg" id="PhishingTestModal" tabindex="-1" role="dialog"
         aria-labelledby="PhishingTestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PhishingTestModalLabel">Well Done!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p class="text-xl-left font-weight-bold">{% trans "Available emails"|capfirst %}</p>
                            </div>
                            <div class="list-group" id="emails-titles" role="tablist">
                                {% for sim_email in sim_emails %}
                                    {% if forloop.counter == 1  %}
                                        <a href="#" class="list-group-item list-group-item-action active" data-toggle="list" data-id="{{ sim_email.id }}" role="tab" aria-controls="{{ sim_email.title }}">{{ sim_email.title }}</a>
                                    {% else %}
                                        <a href="#" class="list-group-item list-group-item-action" data-toggle="list" role="tab" data-id="{{ sim_email.id }}" aria-controls="{{ sim_email.title }}">{{ sim_email.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="email-card">
                                {% for sim_email in sim_emails %}
                                    {% if forloop.counter == 1  %}
                                        <div class="embed-responsive embed-responsive-21by9">
                                            <iframe class="embed-responsive-item" src="{% url 'email_simulation:email_request' sim_email.id %}" id="ifrm"  width="100%" height="300"></iframe>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-info mr-auto email-check" role="button">{% trans "Send to me"|capfirst %}</button>
                    <button type="button" class="btn btn-success email-selector" data-dismiss="modal">{% trans "Select email"|capfirst %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="campaignSuccessModal" tabindex="-1" role="dialog"
         aria-labelledby="campaignSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="campaignSuccessModalLabel">Well Done!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert">
                        {% trans "Your campaign was sucessfully created! Click <strong>Close</strong> to redirect to Dashboard"|capfirst %}
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'sbam:dashboard' %}" class="btn btn-outline-info" role="button">{% trans "Close"|capfirst %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="campaignErrorModal" tabindex="-1" role="dialog"
         aria-labelledby="campaignErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="campaignErrorModalLabel">Error!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        {% trans "Could not create a campaign. Please try again."|capfirst %}
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'sbam:campaigns' %}" class="btn btn-outline-primary" role="button">Close</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block  extra_js %}
    <script src="{% static "admin-lte/plugins/toastr/toastr.min.js" %}"></script>
    <script src="{% static "admin-lte/plugins/select2/js/select2.min.js" %}"></script>
    <script src="{% static "admin-lte/plugins/moment/moment-with-locales.js" %}"></script>
    <script src='{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}'></script>
    <script src="{% static "sbam_app/js/tree.min.js" %}"></script>

    <script type="application/javascript">
        $('.js-example-basic-multiple').select2();
        $(".js-example-theme-multiple").select2({
          theme: "bootstrap4"
        });
        let questtreeData = {{ campaign_form_trees.dimensions_dict | safe }};
        let usertreeData = {{ campaign_form_trees.users_dict | safe }};
        let testTreeData = {{ campaign_form_trees.tests_dict | safe }};
        let selected_email_id = {{ sim_emails.0.id }};

        $("#id_title").attr("autocomplete", "off");

        $('.start-date-pick').daterangepicker({
                 singleDatePicker: true,
                 showDropdowns: true,
                 autoUpdateInput: false,
                 minDate: moment(),
                 locale: {
                     format: 'YYYY-MM-DD',
                     daysOfWeek: [
                         '{% trans "Su" %}',
                         '{% trans "Mo" %}',
                         '{% trans "Tu" %}',
                         '{% trans "We" %}',
                         '{% trans "Th" %}',
                         '{% trans "Fr" %}',
                         '{% trans "Sa" %}'
                     ],
                     monthNames: [
                         '{% trans "January" %}',
                         '{% trans "February" %}',
                         '{% trans "March" %}',
                         '{% trans "April" %}',
                         '{% trans "May" %}',
                         '{% trans "June" %}',
                         '{% trans "July" %}',
                         '{% trans "August" %}',
                         '{% trans "September" %}',
                         '{% trans "October" %}',
                         '{% trans "November" %}',
                         '{% trans "December" %}'
                     ]
                 }
             }, function (chosen_date) {
                 $(this.element[0]).val(chosen_date.format('YYYY-MM-DD'));
             });

        $('.end-date-pick').daterangepicker({
                 singleDatePicker: true,
                 showDropdowns: true,
                 autoUpdateInput: false,
                 minDate: moment(),
                 locale: {
                     format: 'YYYY-MM-DD',
                     daysOfWeek: [
                         '{% trans "Su" %}',
                         '{% trans "Mo" %}',
                         '{% trans "Tu" %}',
                         '{% trans "We" %}',
                         '{% trans "Th" %}',
                         '{% trans "Fr" %}',
                         '{% trans "Sa" %}'
                     ],
                     monthNames: [
                         '{% trans "January" %}',
                         '{% trans "February" %}',
                         '{% trans "March" %}',
                         '{% trans "April" %}',
                         '{% trans "May" %}',
                         '{% trans "June" %}',
                         '{% trans "July" %}',
                         '{% trans "August" %}',
                         '{% trans "September" %}',
                         '{% trans "October" %}',
                         '{% trans "November" %}',
                         '{% trans "December" %}'
                     ]
                 }
             }, function (chosen_date) {
                 $(this.element[0]).val(chosen_date.format('YYYY-MM-DD'));
             });
    </script>

    <script src="{% static "sbam_app/js/campaign_creation.js" %}"></script>

{% endblock %}
