{% extends "base_form.html" %}

{% load adminlte_helpers crispy_forms_tags crispy_forms_field %}

{% block page_name %}
    <div class="row">
        <strong><i class="fas fa-user-cog mr-2"></i> Profile:</strong>
        <p class="ml-2">{{ user.get_full_name }}</p>
        {% if not user.is_active %}
            <p class="ml-2" style="color:indianred">(disabled) </p>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sbam:users' %}">Users</a></li>
    <li class="breadcrumb-item active">Profile</li>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img src="{% avatar_url size=128 %}" alt="User Avatar" class="img-size-100 mr-3 img-circle">
                        </div>

                        <div class="display_name">
                            {% include 'form-utils/input-group-field.html' with field=profile_form.display_name field_class='form-control form-control-sm' icon='fas fa-pencil-alt' %}
                        </div>

                        <p class="text-muted text-center">{{ profile_form.job_title.value }}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Groups</b> <a class="float-right">{{ user.groups.count }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Campaigns</b> <a class="float-right"></a>
                            </li>
                            <li class="list-group-item">
                                <b>Results</b> <a class="float-right"></a>
                            </li>
                        </ul>

                        <p>
                            <u>Member since</u> :
                            <a class="float-right">
                                <i class="far fa-clock ml-2 mr-1"></i> {{ user.date_joined }}
                            </a>
                        </p>
                        <hr>

                        <!-- TODO add a graph with profile completeness as in mockup -->

                        {% if request.user.is_superuser or request.user == user %}
                            <button class="btn btn-outline-info btn-sm" type="submit" title="Save changes">
                                <i class="fas fa-user-edit mr-2"></i>Save
                            </button>

                            {% if request.user != user %}
                                {% if user.is_active %}
                                    <button class="btn btn-outline-danger btn-sm" type="submit" formaction="disable"
                                            title="Disable user">
                                        <i class="fas fa-user-slash mr-2"></i>Disable
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-success btn-sm" type="submit" formaction="enable"
                                            title="Enable user">
                                        <i class="fas fa-user-check mr-2"></i>Enable
                                    </button>
                                {% endif %}
                            {% endif %}

                            <button class="btn btn-outline-dark btn-sm float-right" type="reset" title="Cancel changes">
                                <i class="fas fa-times-circle mr-2"></i>Cancel
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header pb-2 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="user-profile-personal-info-tab" data-toggle="pill"
                                   href="#user-profile-personal-info" role="tab"
                                   aria-controls="user-profile-personal-info"
                                   aria-selected="true"><i class="fas fa-id-badge mr-2"></i> Personal Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-account-tab" data-toggle="pill"
                                   href="#user-profile-account" role="tab"
                                   aria-controls="user-profile-account"
                                   aria-selected="false"><i class="fas fa-user-circle mr-2"></i> Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-status-tab" data-toggle="pill"
                                   href="#user-profile-status" role="tab"
                                   aria-controls="user-profile-status"
                                   aria-selected="false"><i class="fas fa-user-shield mr-2"></i> Status</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-evaluations-tab" data-toggle="pill"
                                   href="#user-profile-evaluations" role="tab"
                                   aria-controls="user-profile-evaluations"
                                   aria-selected="false"><i class="fas fa-star mr-2"></i> Evaluations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-messages-tab" data-toggle="pill"
                                   href="#user-profile-messages" role="tab"
                                   aria-controls="user-profile-messages"
                                   aria-selected="false"><i class="fas fa-envelope mr-2"></i> Messages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-tips-tab" data-toggle="pill"
                                   href="#user-profile-tips" role="tab"
                                   aria-controls="user-profile-tips"
                                   aria-selected="false"><i class="fas fa-glasses mr-2"></i> Tips</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="user-profile-personal-info" role="tabpanel"
                                 aria-labelledby="user-profile-personal-info-tab">
                                <ul class="list-group list-group-unbordered user-block">
                                    <li class="list-group-item p-0 border-0">
                                        {% crispy user_form user_form.general_info_helper %}
                                    </li>
                                    <li class="list-group-item p-0 border-0">
                                        {% crispy profile_form profile_form.general_info_helper %}
                                    </li>
                                    <li class="list-group-item p-0 border-0">
                                        <div id="accordion" role="tablist">
                                            <div class="card mb-2">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#contact_details"
                                                           aria-expanded="true" aria-controls="contact_details">
                                                            <i class="far fa-address-book mr-2"></i>Contact Details
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="contact_details" class="collapse" role="tabpanel"
                                                     aria-labelledby="contact_details" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {% crispy profile_form profile_form.contact_details_helper %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-2">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#organizational_info"
                                                           aria-expanded="true" aria-controls="organizational_info">
                                                            <i class="fas fa-briefcase mr-2"></i>Organizational
                                                            Information
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="organizational_info" class="collapse" role="tabpanel"
                                                     aria-labelledby="organizational_info" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {% crispy profile_form profile_form.organizational_info_helper %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="user-profile-account" role="tabpanel"
                                 aria-labelledby="user-profile-account-tab">
                                <ul class="list-group list-group-unbordered user-block">
                                    <li class="list-group-item p-0 border-0">
                                        {% crispy user_form user_form.credentials_helper %}
                                    </li>
                                    <li class="list-group-item p-0 border-0">
                                        <div id="accordion" role="tablist">
                                            <div class="card mb-2">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#privileges"
                                                           aria-expanded="true" aria-controls="privileges">
                                                            <i class="fas fa-tasks mr-2"></i>Privileges
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="privileges" class="collapse" role="tabpanel"
                                                     aria-labelledby="privileges" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {{ profile_form.is_manager|as_crispy_field:'bootstrap' }}
                                                        {{ user_form.is_superuser|as_crispy_field:'bootstrap' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-2">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#group-membership"
                                                           aria-expanded="true" aria-controls="group-membership">
                                                            <i class="fas fa-users mr-2"></i>Group Membership
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="group-membership" class="collapse" role="tabpanel"
                                                     aria-labelledby="group-membership" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {{ user_form.groups|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="user-profile-status" role="tabpanel"
                                 aria-labelledby="user-profile-status-tab">
                            </div>
                            <div class="tab-pane fade" id="user-profile-evaluations" role="tabpanel"
                                 aria-labelledby="user-profile-evaluations-tab">
                            </div>
                            <div class="tab-pane fade" id="user-profile-messages" role="tabpanel"
                                 aria-labelledby="user-profile-messages-tab">
                            </div>
                            <div class="tab-pane fade" id="user-profile-tips" role="tabpanel"
                                 aria-labelledby="user-profile-tips-tab">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block template_js %}
    <script>
        /*
        *  Adding a change password link for the owner of the
        *  user profile.
        */
        {% if request.user == user %}
            $('#div_id_password').append(
                '<span>' +
                '<a style = "font-size: 12px;" href = "{% url 'account_change_password' %}" >' +
                'Change Password ?' +
                '</a>' +
                '</span>'
            );
        {% endif %}
    </script>
{% endblock %}