{% extends "base_form.html" %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}

{% block page_name %}
    <div class="row">
        <strong>{% trans "Profile" %}:</strong>
        <p class="ml-2">{{ user.get_full_name }}</p>
        {% if not user.is_active %}
            <p class="ml-2" style="color:indianred">{% trans "(disabled)" %}</p>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sbam:users' %}">{% trans "Users" %}</a></li>
    <li class="breadcrumb-item active">{% trans "Profile" %}</li>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img src="{% avatar_url size=128 %}" alt="User Avatar" class="img-size-100 mr-3 img-circle">
                        </div>

                        <p class="text-bold text-center" style="font-size: 20px">{{ user.get_full_name }}</p>
                        <p class="text-muted text-center">{{ profile_form.job_title.value|default:'' }}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>{% trans "department"|capfirst %}</b>
                                <a class="float-right">{{ profile_form.department.value|default:'' }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>{% trans "company"|capfirst %}</b>
                                <a class="float-right">{{ profile_form.company.value|default:'' }}</a>
                            </li>
                        </ul>

                        <p>
                            <u>{% trans "Member since" %}</u> :
                            <a class="float-right">
                                <i class="far fa-clock ml-2 mr-1"></i> {{ user.date_joined }}
                            </a>
                        </p>
                        <hr>

                        <!-- TODO add a graph with profile completeness as in mockup -->

                        {% if request.user.is_superuser or request.user == user %}
                            <button id="save" class="btn btn-outline-info btn-sm" type="submit"
                                    title="{% trans "Save changes" %}">
                                <i class="fas fa-user-edit mr-2"></i>{% trans "Save" %}
                            </button>

                            {% if request.user.is_superuser %}
                                {% if user.is_active %}
                                    <button class="btn btn-outline-danger btn-sm" type="submit" formaction="disable"
                                            title="{% trans "Disable user" %}">
                                        <i class="fas fa-user-slash mr-2"></i>{% trans "Disable" %}
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-success btn-sm" type="submit" formaction="enable"
                                            title="{% trans "Enable user" %}">
                                        <i class="fas fa-user-check mr-2"></i>{% trans "Enable" %}
                                    </button>
                                {% endif %}
                            {% endif %}

                            <button id="reset" class="btn btn-outline-secondary btn-sm float-right" type="reset"
                                    title="{% trans "Discard changes" %}">
                                <i class="fas fa-times-circle mr-2"></i>{% trans "Reset" %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header pb-2 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="user-profile-personal-info-tab" data-toggle="pill"
                                   href="#user-profile-personal-info" role="tab"
                                   aria-controls="user-profile-personal-info"
                                   aria-selected="true"><i class="fas fa-id-badge mr-2"></i>
                                    {% trans "Personal Information" %}
                                </a>
                            </li>
                            {% if request.user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" id="user-profile-account-tab" data-toggle="pill"
                                       href="#user-profile-account" role="tab"
                                       aria-controls="user-profile-account"
                                       aria-selected="false"><i
                                            class="fas fa-user-circle mr-2"></i> {% trans "Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% comment %} <li class="nav-item">
                                <a class="nav-link" id="user-profile-status-tab" data-toggle="pill"
                                   href="#user-profile-status" role="tab"
                                   aria-controls="user-profile-status"
                                   aria-selected="false"><i class="fas fa-user-shield mr-2"></i> {% trans "Status" %}
                                </a>
                            </li> {% endcomment %}
                            {% if request.user.is_superuser or request.user.profile.is_manager or request.user == user %}
                                <li class="nav-item">
                                    <a class="nav-link" id="user-profile-assignments-tab" data-toggle="pill"
                                       href="#user-profile-assignments" role="tab"
                                       aria-controls="user-profile-assignments"
                                       aria-selected="false"><i class="fas fa-tasks mr-2"></i> {% trans "assignments"|capfirst %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="user-profile-personal-info" role="tabpanel"
                                 aria-labelledby="user-profile-personal-info-tab">
                                <ul class="list-group list-group-unbordered user-block">
                                    <li class="list-group-item p-0 border-0">
                                        {% crispy user_form user_form.general_info_helper %}
                                    </li>
                                    <li class="list-group-item p-0 border-0">
                                        {% crispy profile_form profile_form.general_info_helper %}
                                    </li>
                                    <li class="list-group-item p-0 border-0">
                                        <div class="accordion" id="accordion" role="tablist">
                                            <div class="card mb-2">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#contact_details"
                                                           aria-expanded="true" aria-controls="contact_details">
                                                            <i class="far fa-address-book mr-2"></i>
                                                            {% trans "Contact Details" %}
                                                            <i class="fas fa-angle-down float-right"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="contact_details" class="collapse" role="tabpanel"
                                                     aria-labelledby="contact_details" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {% crispy profile_form profile_form.contact_details_helper %}
                                                        {% crispy user_form user_form.email_helper %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-2">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#organisational_info"
                                                           aria-expanded="true" aria-controls="organisational_info">
                                                            <i class="fas fa-briefcase mr-2"></i>
                                                            {% trans "Organisational Information" %}
                                                            <i class="fas fa-angle-down float-right"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="organisational_info" class="collapse" role="tabpanel"
                                                     aria-labelledby="organisational_info" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {% crispy profile_form profile_form.organisational_info_helper %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="user-profile-account" role="tabpanel"
                                 aria-labelledby="user-profile-account-tab">
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item p-0 border-0">
                                        {{ profile_form.is_manager|as_crispy_field:'bootstrap' }}
                                        {{ user_form.is_superuser|as_crispy_field:'bootstrap' }}
                                    </li>
                                    <li class="list-group-item p-0 border-0">
                                        <div class="accordion" id="accordion" role="tablist">
                                            <div class="card mb-2">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#group-membership"
                                                           aria-expanded="true" aria-controls="group-membership">
                                                            <i class="fas fa-users mr-2"></i>
                                                            {% trans "Group Membership" %}
                                                            <i class="fas fa-angle-down float-right"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="group-membership" class="collapse" role="tabpanel"
                                                     aria-labelledby="group-membership" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {{ user_form.groups|add_class:"duallistbox" }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% comment %} <div class="tab-pane fade" id="user-profile-status" role="tabpanel"
                                 aria-labelledby="user-profile-status-tab">
                                <div class="callout callout-warning">
                                    <p>{% trans "Status currently unavailable!" %}</p>
                                </div>
                            </div> {% endcomment %}
                            <div class="tab-pane fade" id="user-profile-assignments" role="tabpanel"
                                 aria-labelledby="user-profile-assignments-tab">
                                {% include "assignments.html" with assignments=assignments %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block template_js %}
    <script>
        $('#id_username').prop('readonly', true);
    </script>
{% endblock %}