{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load i18n adminlte_helpers widget_tweaks %}

{% block extra_head %}
    <link href="{% static "vendor/survey-jquery/survey.css" %}" rel="stylesheet">
    <link href="{% static "vendor/survey-jquery/modern.css" %}" rel="stylesheet">
    <link href="{% static "sbam_app/css/questionnaire_compl.css" %}" rel="stylesheet">

{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    {% if is_assignment == 'true' %}
        <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "assignments"|capfirst %}</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'sbam:assignments' quest_id  %}">{{ quest_id }}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'sbam:self_assessment' %}">{% trans "self Assessment"|capfirst %}</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'sbam:self_assessment_completion' quest_id  %}">{{ quest_id }}</a></li>
    {% endif %}
{% endblock %}

{% block page_name %}
    <div class="row">
        {% if is_assignment == 'true' %}
            <strong><i class="nav-icon fas fa-edit mr-2"></i> {% trans "Assignment" %}</strong>
        {% else %}
            <strong><i class="nav-icon fas fa-chalkboard-teacher mr-2"></i> {% trans "Self Evaluation" %}</strong>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="container quest-container">
        <div class="row">
            {% csrf_token %}
            <div class="col col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <div id="surveyElement" style="display:inline-block;width:100%;"></div>
                        <div id="surveyResult">
                            <div class="row row-compl">
                                <div class="d-flex w-100 justify-content-between">
                                    <p></p>
                                    <a class="btn btn-primary btn-compl sv-btn" href="{% url 'sbam:dashboard' %}" role="button">{% trans "Return to Dashboard" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block  extra_js  %}

    <script src="{% static "vendor/survey-jquery/survey.jquery.js" %}"></script>
    <script type="application/javascript">
        let questData = {{ questionnaire | safe }};
        let ass_id = {{ quest_id  | safe }};
        let quest_title = "{{ quest_title | safe }}";
        let current_lang = "{{ current_lang }}";
        let is_assignment = "{{ is_assignment|safe }}";
        console.log(ass_id);
    </script>

    <script src="{% static "sbam_app/js/questionnaire_compl.js" %}"></script>

{% endblock %}