{% extends "base_datatable.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load i18n adminlte_helpers widget_tweaks %}
{% load i18n custom_tags %}

{% block extra_head %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'sbam:questionnaires_list'  %}">{% trans "Questionnaires" %}</a></li>
{% endblock %}

{% block page_name %}
    <div class="row">
        {% trans "Questionnaires" %}
    </div>
{% endblock %}

{% block table_content %}
    <thead>
        <tr>
            <th>{% trans "title"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th>{% trans "Domain"|capfirst %}</th>
            <th>{% trans "Domain Description"|capfirst %}</th>
            <th>{% trans "Dimension"|capfirst %}</th>
            <th>{% trans "Dimension Description"|capfirst %}</th>
            <th>{% trans "No. Questions"|capfirst %}</th>
        </tr>
    </thead>

    <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <td>
                    <a href="{% url 'sbam:questionnaire_info' questionnaire.id %}">
                        {{ questionnaire.title|default:'Not Available' }}
                    </a>
                </td>
                <td>{{ questionnaire.get_status|default:'Not Available' }}</td>
                <td>{{ questionnaire.domain|default:'Not Available' }}</td>
                <td>{{ questionnaire.domain.description|default:'Not Available' }}</td>
                <td>{{ questionnaire.domain.dimension|default:'Not Available' }}</td>
                <td>{{ questionnaire.domain.dimension.description|default:'Not Available' }}</td>
                <td>{{ questionnaire.get_questions_count}}</td>
            </tr>
        {% endfor %}
    </tbody>

{% endblock %}

{% block template_js %}
    <script>
        datatable('#table', [1,3,5], [], [7], true);
    </script>
{% endblock %}