{% extends "base_form.html" %}

{% load i18n static %}

{% block page_name %}
    <strong>{% trans "Reports"|capfirst %}</strong>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active">{% trans "Reports" %}</li>
{% endblock %}


{% block extra_head %}
    <link href="{% static "/admin-lte/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" %}" rel="stylesheet">
    <link href="{% static "/admin-lte/plugins/select2/css/select2.min.css" %}" rel="stylesheet">


    <!-- Amcharts Resources -->
    <script src="{% static 'js/amcharts4/core.js' %}"></script>
    <script src="{% static 'js/amcharts4/charts.js' %}"></script>
    <script src="{% static 'js/amcharts4/themes/animated.js' %}"></script>


    <style>
        select option{
            cursor: pointer;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: inherit;
        }
        #charts_container .card-body {
            padding: 0.25rem;
        }
        #charts_container .card-header{
            padding: 0.25rem 0.5rem;
            font-size: 1.3rem;
            text-align: center;
        }
        .loading{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background: #fffdfd;
            width: 100%;
            text-align: center;
        }
        .loading img{
            height: 70%;
        }
        #accordion{
            height: 60vh;
            max-height: 60vh;
            overflow: auto;
        }
        #info-toggler{
            
            padding: 0.25rem;
            background: #efeded;
            color: #be1f1f;
            font-weight: 500;
            cursor: pointer;
            display: block;
            text-align: center;
        }
        @media (min-width: 1450px){
            #info-toggler{
                position: absolute;
                right: 1.25rem;
                bottom: 1.25rem;
            }
        }
        @media (max-width: 1450px){
            #info-toggler{
                margin-top: 1.1rem;
            }

            #update_charts_button{
                width: 100%;
            }
        }

        #charts_container .card{
            height: 55vh; 
        }
        @media (max-height: 600px){
            #charts_container .card{
                height: 90vh; 
            }
        }
        
        .icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {
            background-color: #007bff;
            border: none;
        }
    </style>

{% endblock %}


{% block content %}
    <div class="container-fluid pb-4">
        <div class="row">
            <div id='filter_container' class="col-xl-3 container-fluid" style='{% if isManager %}  {% else %} display:none; {% endif %}'>
                <div class='card' style='min-height: unset; 
                                        /*background-color: #266691; 
                                        color: white;*/'> 
                    <div class='card-body'>
                        <form>
                            <div class="form-group">
                                <label style='display: block;'>Report for</label>
                                <select class="form-control" id='report-level' name='report-level' style="width: 100%">
                                    <option value='organisation'>Organisation</option>
                                    <option value='campaign'>Campaign</option>
                                    <option value='group'>Group</option>
                                </select>
                            </div>
                            <div class="form-group" id='campaign-select-div' style='display: none;'>
                                <label style='display: block;'>Campaign</label>
                                <select class="form-control" id='campaign-select' name='campaign-select' style="width: 100%">
                                    {% for campaign in campaigns_active %}
                                        <option value='{{ campaign.pk }}'>{{ campaign.title }} (in progress)</option>
                                    {% endfor %}
                                    {% for campaign in campaigns_finished %}
                                        <option value='{{ campaign.pk }}'>{{ campaign.title }} (completed: {{campaign.finish_date}})</option>                                        
                                    {% endfor %}
                                    {% if campaigns_active|length == 0 and  campaigns_finished|length == 0 %}
                                        <option disabled selected>No campaigns available</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group" id='group-select-div' style='display: none;'>
                                <label style='display: block;'>Group</label>
                                <select class="form-control" id='group-select' name='group-select' style="width: 100%">
                                    {% for group in groups %}
                                        <option value='{{ group.pk }}'>{{ group.name }}</option>
                                    {% empty %}
                                        <option disabled selected>No groups available</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group clearfix">
                                <label style='display: block;'>Level</label>
                                <div class="icheck-primary d-inline">
                                    <input type="checkbox" id="organisational_check" checked="" name="organisational_check">
                                    <label for="organisational_check" style='color: #217c07;'>
                                        Organisational
                                    </label>
                                </div>
                                <div class="icheck-primary d-inline ml-4" >
                                    <input type="checkbox" id="individual_check" checked="" name="individual_check">
                                    <label for="individual_check" style='color: #9b4907;'>
                                        Individual
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="time_period">Time period considered</label>
                                <input type="range" class="custom-range" id="time_period" name="time_period">
                            </div>
                        </form>
                        
                        <button id='update_charts_button' class='btn btn-success btn-md'>
                            Update Charts
                        </button>       

                        <a id='info-toggler' class="" data-toggle="modal" data-target="#infoModal" >Calculation Info</a>             
                    </div>
                </div>
                
            </div>

            
            <div id='charts_container' class=" {% if isManager %} col-xl-9 {% else %} col-lg-12 {% endif %}  container-fluid">
                <div class='card mb-4' style='text-align: center;'> 
                    <div class='card-header'> Security Dimensions </div>
                    <div id='chartdiv1' class='chartdiv card-body' style='height: 100%; position: relative; '> </div>
                    <div class="loading">
                        <img src="{% static 'img/loading.gif' %}" alt="Loading..." />
                    </div>
                </div>

                <div class='card mb-2' style='text-align: center;'> 
                <div class='card-header'> Domains </div>
                    <div id='chartdiv2' class='chartdiv' style='height: 100%; position: relative;'> </div>
                    <div class="loading">
                        <img src="{% static 'img/loading.gif' %}" alt="Loading..." />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="infoModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Metrics Info</h4>
            </div>
            <div class="modal-body">
                <p><strong>Note:</strong> following lists present the survey responses that were used for the calculation of the metrics displayed on the charts.</p>
                <p><strong>Click a security dimension to expand</strong></p>
                <div class="panel-group" id="accordion">
                    {% comment %} {% for dim, dim_info in data.info.items %}
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" href="#collapse_dim_{{ forloop.counter }}" class="" aria-expanded="false">
                                        {{ dim }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_dim_{{ forloop.counter }}" class="panel-collapse collapse" style="">
                                <div class="card-body">
                                    <div class="panel-group" id="accordion_{{ dim }}" style='padding-left: 2rem;'>
                                        {% with dim_counter=forloop.counter %}   
                                            {% for dom, dom_info in dim_info.items %}
                                                <div class="card card-primary">
                                                    <div class="card-header">
                                                        <h4 class="card-title">
                                                            <a data-toggle="collapse" href="#collapse_dim_{{dim_counter}}_dom_{{ forloop.counter }}" class="" aria-expanded="false">
                                                                {{ dom }}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse_dim_{{dim_counter}}_dom_{{ forloop.counter }}" class="panel-collapse collapse" style="">
                                                        <div class="card-body">
                                                            <ul class="list-group">
                                                                {% for q, users in dom_info.items %}
                                                                <li class="list-group-item">
                                                                    <h4> 
                                                                        Questionnaire: {{ q }} 
                                                                    </h4>
                                                                    <div class="row">
                                                                        {% for u, d in users %} 
                                                                            <div class="col col-sm-4">
                                                                                {{ u }} ({{ d }})
                                                                            </div  >
                                                                        {% endfor %}
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %} {% endcomment %}
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </div>

        </div>
    </div>
{% endblock %}



{% block extra_js %}
    <script src="{% static "/admin-lte/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" %}"></script>
    <script src="{% static "/admin-lte/plugins/select2/js/select2.min.js" %}"></script>

    <script>
        $("#time_period").ionRangeSlider({
            skin: "round",
            min: 0,
            max: 24,
            from: 24,
            prefix: 'last ',
            postfix: ' months',
            hide_min_max: true,
        });
    
        $('#filter_container select').select2({ width: 'resolve' });

        $('#report-level').select2({
            width: 'resolve',
            minimumResultsForSearch: -1
        });

    </script>

    <script>
        //var graph_data = {{ data.graph_data|safe }};
        //console.log(graph_data);
        var dim_chart;
        var dom_chart;

        $(document).ready(function(){
            function update_modal_info(info){
                $('#accordion').html('');
                var dim_counter = 1;
                $.each(info, function(dim, dim_info){
                    $('#accordion').append(' ' +
                        ' <div class="card card-primary"> ' +
                        '     <div class="card-header"> ' +
                        '         <h4 class="card-title"> ' +
                        '             <a data-toggle="collapse" href="#collapse_dim_'+ dim_counter +'" class="" aria-expanded="false"> ' +
                        '                 ' + dim + 
                        '             </a> ' +
                        '         </h4> ' +
                        '     </div> ' +
                        '     <div id="collapse_dim_'+ dim_counter +'" class="panel-collapse collapse" style=""> ' +
                        '       <div class="panel-group" id="accordion_'+ dim_counter +'" style="padding-left: 2rem;"> ' +
                        '       </div> ' +
                        '     </div> ' +
                        ' </div> ' +
                    '');
                    

                    var dom_counter = 1;
                    $.each(dim_info, function(dom, dom_info){
                        $('#accordion_'+ dim_counter).append(' ' +
                            ' <div class="card card-primary"> ' +
                            '     <div class="card-header"> ' +
                            '         <h4 class="card-title"> ' +
                            '             <a data-toggle="collapse" href="#collapse_dim_'+ dim_counter +'_dom_'+ dom_counter +'" class="" aria-expanded="false"> ' +
                            '              ' + dom + 
                            '             </a> ' +
                            '         </h4> ' +
                            '     </div> ' +
                            '     <div id="collapse_dim_'+ dim_counter +'_dom_'+ dom_counter +'" class="panel-collapse collapse" style=""> ' +
                            '         <div class="card-body"> ' +
                            '             <ul class="list-group"> ' +
                            '             </ul> ' +
                            '         </div> ' +
                            '     </div> ' +
                            ' </div> ' +
                        '');

                        $.each(dom_info, function(q_id, q_info){
                            var users_list = '';
                            var usr_counter = 0;
                            $.each(q_info['responses'], function(key, user){
                                if(usr_counter%4==0)
                                    users_list += '<tr>';
                                users_list += '<td class="">' + user[0] + ' (' + user[1] + ') ' + '</td>';
                                if(usr_counter%4==3)
                                    users_list += '</tr>';
                                usr_counter++;
                            });

                            $('#collapse_dim_'+ dim_counter +'_dom_'+ dom_counter + ' .list-group').append(' ' +
                                ' <li class="list-group-item"> ' +
                                ' <h4> Questionnaire: ' + q_info['title'] + ' </h4> ' +
                                ' <table class="table table-striped table-condensed"> ' +
                                    users_list +
                                ' </table> ' + 
                            '');
                        });
                        dom_counter++;
                    });

                    dim_counter++;
                });
            };



            function update_charts(){
                $(".loading").show();
                var d = new Date();
                var n = d.getTime();
                $.ajax({
                    url: {% if isManager %} "{% url 'sbam:get_reports_data' %}?timestamp=" {% else %} "{% url 'sbam:get_user_metrics' %}?timestamp=" {% endif %} +n,
                    type: 'GET',
                    data: {
                        {% if isManager %} 
                            report_level: $("#report-level").val(),
                            campaign_select: $("#campaign-select").val(),
                            group_select: $("#group-select").val(),
                            organisational_check: $("#organisational_check").is(':checked'),
                            individual_check: $("#individual_check").is(':checked'),
                            time_period: $("#time_period").val()
                        {% else %}
                            time_period: $("#time_period").val()
                        {% endif %}
                    },
                    success: function(result) {
                        if (result) {
                            console.log(result);
                            
                            dim_chart.invalidateData();
                            graph_data = result.graph_data;
                            dim_chart.data = graph_data['dimensions'];
                            
                            dom_chart.data = {};
                            dom_chart.invalidateData();

                            $(".loading").hide();
                            dim_chart.reinit();
                            update_modal_info(result['info']);
                        }
                        
                    },
                    error: function() {
                        $(".loading").hide();
                        alert("Error");
                    }
                });
            }

            update_charts();

            $("#update_charts_button").click(function(){
                update_charts();
            })

            $("#report-level").change(function(){
                if($(this).val() == 'organisation'){
                    $("#campaign-select").val('');
                    $("#campaign-select-div").hide();
                    $("#group-select").val('');
                    $("#group-select-div").hide();
                }
                else if($(this).val() == 'campaign'){
                    $("#campaign-select-div").show();
                    $("#group-select").val('');
                    $("#group-select-div").hide();
                }
                else if($(this).val() == 'group'){
                    $("#group-select-div").show();
                    $("#campaign-select").val('');
                    $("#campaign-select-div").hide();
                }
            });
        });

    </script>

    <!-- Chart code -->
    <script src="{% static "sbam_app/js/dimensions_chart_report.js" %}"></script>
    <script src="{% static "sbam_app/js/domains_chart_report.js" %}"></script>

{% endblock %}
