{% extends "base_datatable.html" %}

{% load i18n static %}
{% load i18n custom_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% load i18n adminlte_helpers widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sbam:self_assessment_history' %}">{% trans "My Evaluations" %}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'sbam:self_assessment' %}">{% trans "New Evaluation" %}</a></li>
{% endblock %}

{% block page_name %}
    <div class="row">
        <strong>{% trans "Self Evaluation" %}</strong>
    </div>
{% endblock %}

{% block table_head %}
    <h4> Select a questionnaire to start your self-evaluation. </h4>
{% endblock %}

{% block table_content %}
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>{% trans "title"|capfirst %}</th>
            <th>{% trans "dimension"|capfirst %}</th>
            <th>{% trans "Dimension description" %}</th>
            <th>{% trans "domain"|capfirst %}</th>
            <th>{% trans "Domain description" %}</th>
            <th>{% trans "No. Questions" %}</th>
            <th>{% trans "Best Score" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for questionnaire in self_assessment_list %}
            <tr>
                <td></td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url 'sbam:self_assessment_completion' questionnaire.id %}">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'sbam:self_assessment_completion' questionnaire.id %}">
                        {{ questionnaire.title|default:'Not Available' }}
                    </a>
                </td>
                <td>{{ questionnaire.domain.dimension|default:'Not Available' }}</td>
                <td>{{ questionnaire.domain.dimension.description|default:'Not Available' }}</td>
                <td>{{ questionnaire.domain|default:'Not Available' }}</td>
                <td>{{ questionnaire.domain.description|default:'Not Available' }}</td>
                <td>{{ questionnaire.get_questions_count}}</td>
                <td>
                    {% with score=questionnaire.best_score %}
                        {% get_badge score as badge_type %}
                        <span {% if badge_type != 'Not Completed Yet' %}class="badge {{ badge_type }}"{% endif %}>
                            {{ score }}
                        </span>
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
    </tbody>

{% endblock %}

{% block template_js %}
    <script>
        datatable('#table', [0,1,2], [], [], false);
    </script>
{% endblock %}
