{% extends "base_datatable.html" %}

{% load i18n static %}

{% block page_name %}
    <strong>{% trans "Users" %}</strong>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'sbam:dashboard' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active">{% trans "Users" %}</li>
{% endblock %}

{% block table_content %}
    <thead>
        <tr>
            <th></th>
            <th>{% trans "active"|capfirst %}</th>
            <th><i class="fas fa-list-ul" title="{% trans "Roles" %}"></i></th>
            <th>{% trans "Full Name" %}</th>
            <th>{% trans "first name"|capfirst %}</th>
            <th>{% trans "last name"|capfirst %}</th>
            <th>{% trans "email"|capfirst %}</th>
            <th>{% trans "employee ID"|capfirst %}</th>
            <th>{% trans "birth date"|capfirst %}</th>
            <th>{% trans "gender"|capfirst %}</th>
            <th>{% trans "job title"|capfirst %}</th>
            <th>{% trans "department"|capfirst %}</th>
            <th>{% trans "company"|capfirst %}</th>
            <th>{% trans "telephone"|capfirst %}</th>
            <th>{% trans "address"|capfirst %}</th>
            <th>{% trans "notes"|capfirst %}</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users_list %}
            <tr {% if not user.is_active %} class="text-muted"{% endif %}>
                <td></td>
                <td>
                    {% if user.is_active %}
                        <i class="fas fa-check-circle" style="color: darkgreen" title="{% trans "active"|capfirst %}"></i>
                    {% else %}
                        <i class="fas fa-times-circle" style="color: indianred" title="{% trans "inactive"|capfirst %}"> </i>
                    {% endif %}
                </td>
                <td>
                    {% if user.userprofile.is_manager %}
                        <i class="fas fa-user-tie mr-2" style="color: darkblue" title="{% trans "manager"|capfirst %}"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'sbam:profile' user.username %}">
                        {{ user.get_full_name }}
                    </a>
                </td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userprofile.employee_id|default:'' }}</td>
                <td>{{ user.userprofile.birth_date|default:'' }}</td>
                <td>{{ user.userprofile.get_gender_display|default:'' }}</td>
                <td>{{ user.userprofile.job_title|default:'' }}</td>
                <td>{{ user.userprofile.department|default:'' }}</td>
                <td>{{ user.userprofile.company|default:'' }}</td>
                <td>{{ user.userprofile.telephone|default:'' }}</td>
                <td>{{ user.userprofile.address|default:'' }}</td>
                <td>{{ user.userprofile.notes|default:'' }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block template_js %}
    <script>
        datatable('#table', [0, 1, 2, 3], [], [], true);
    </script>
{% endblock %}