{% extends "base_account.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h2>{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password?" %}</p>
    <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <div>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
             <div class="row">
                <div class="{% if not full_row %}col-lg-6 {% endif %}col-xs-12 {% if centered %}col-lg-push-3{% endif %}">
                    <div class="form-group label-floating{% if not field.value %} is-empty{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        {% csrf_token %}
                        {% include "form-fields.html" %}
                    </div>
                </div>
             </div>

            <button class="btn btn-primary btn-block btn-sm mt-3"  type="submit">{% trans 'Reset Password' %}</button>
        </form>
    </div>

    <p></p><p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    <a class="button secondaryAction" href="{% url 'account_login' %}">{% trans "Return to Log-In Page" %}</a>
{% endblock %}




