# Template file used to host environmental variables.
#
# Use it to generate a .env file in the same directory
# with all necessary variables based on specific environment.
#
DEBUG=on
SECRET_KEY=your-secret-key
DATABASE_URL=psql://username:password@hostname:port/database
SQLITE_URL=sqlite:///my-local-sqlite.db
TIME_ZONE='UTC'