.o-darkblue {
    color: #263C91 !important;
}

.o-lightblue {
    color: #23A5E1 !important;
}

.o-yellow {
    color: #FEDD12 !important;
}

.o-lightblue-tint {
    color: #EBF8FF !important;
}

.o-yellow-tint {
    color: #FEF8CF !important;
}

.o-darkblue-tint {
    color: #B2BAE9 !important;
}