body, .dt-button-collection, .dropdown-menu {
    font-size: 13px;
}

/* Account Header */
.account-header {
    color: #263C91;
    text-align: center;
    margin: 40px 0 60px 0;
}

/* Account Main Context */
.account-content {
    margin-left: 0 !important;
    justify-items: center;
    background: white;
}

.box-standing-out {
    background: white;
    padding: 40px 40px;
    box-shadow: 0 0 10px 10px #aaa;
    width: 30rem;
}

.box-standing-out > h2 {
    color: #23A5E1;
    text-align: center;
    padding: 10px 0 30px 0;
}

.box-standing-out > h5 {
    color: #263C91;
    text-align: center;
}

.box-standing-out > p {
    text-align: justify;
}

/* Main Footer */
.footer-container {
    background: #23A5E1;
    padding: 0.1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.footer-logo {
    height: 60px;
    width: 150px;
    padding-bottom: 0.5%;
    object-fit: contain;
}

/* EU Consent */
.eu-consent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1px;
    background-color: white;
    box-shadow: 0 0 1px 1px #aaa;
}

.txt-eu-consent {
    font-size: 10px;
    font-weight: 600;
    color: #000;
}

.flag-eu-consent {
    float: left;
    margin-right: 10px;
}

.eu-flag {
    width: 30px;
}

/* Main Sidebar */
.main-sidebar {
    background-color: #263C91;
}

/* Main Context */
.page_name {
    color: #263C91;
}

/* Datatables */
th, .sorting_1 {
    white-space: nowrap;
}

.dt-button.buttons-columnVisibility,
.dt-button.buttons-colvisRestore {
    border: none;
    background-color: transparent;
}

.dt-button.buttons-colvisRestore {
    padding: 10px 20px;
    font-weight: 600;
}

.dt-button.buttons-columnVisibility:before {
    font-family: FontAwesome;
    padding-right: 4px;
    content: "\f14a";
}

.dt-button.buttons-columnVisibility.active:before {
    content: "\2611";
}

.dt-button-collection {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
}

.dt-col-filter {
    flex-wrap: nowrap;
}

.dt-col-filter > .form-control {
    width: 100px;
    height: 25px;
}

.dt-col-filter > .form-control, .dt-col-filter > .input-group-append > .input-group-text {
    color: #7b8692;
    background-color: #f2f4f6;
    font-size: 13px;
    padding: 0 10px 0 5px;
    border: 0;
}

/* Forms */
.form-control {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.asteriskField {
    color: red;
}

.input-group-append > .input-group-text {
    background: transparent;
    color: #777;
}

.input-group .form-control {
    border-right: 0;
}

.input-group .form-control:focus ~ .input-group-append .input-group-text {
    border-color: #80bdff
}

.input-group .form-control[readonly] ~ .input-group-append .input-group-text,
.input-group .form-control[disabled] ~ .input-group-append .input-group-text {
    background-color: #e9ecef;
}

.input-group .form-control.is-invalid ~ .input-group-append .input-group-text {
    border-color: #dc3545;
    border-radius: .2rem;
}

#accordion .card {
    box-shadow: none;
}

#accordion .card .card-header {
    padding: 10px 0;
}

#accordion .card .card-header > h5 {
    font-size: 14px;
    font-weight: 400;
}

#accordion .card .card-body {
    padding-left: 0;
}

div.display_name_styled > .input-group {
    padding: 10px;
}

div.display_name_styled > .input-group .form-control {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #23A5E1;
    border: 1px dashed;
    border-right: 0;
}

div.display_name_styled .input-group .input-group-append .input-group-text {
    border: 1px dashed;
    border-left: 0;
    padding: 2px;
    font-size: 0.75rem;
    color: #23A5E1;
}

.controls > p {
    color: #6c757d;
    font-size: 80%;
    padding-left: 26px;
}

.checkboxinput {
    margin-right: 10px;
}

/* Wizards */
.wizard-form .wizard-header {
    text-align: center;
    padding: 40px 0 20px;
}

.wizard-form .wizard-header .heading {
    color: #23A5E1;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.wizard-body .content h2 {
    display: none;
}

.wizard-body .content .inner h3 {
    font-size: 22px;
    font-weight: 700;
    padding: 18px 0 5px 0;
}

.wizard-body .steps ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.wizard-body .steps li a .title span {
    display: block;
}

.wizard-body .steps li a .title .step-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    position: relative;
    color: #fff;
    font-size: 24px;
    margin-right: 1.5rem;
}

.wizard-body .steps li a .step-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wizard-body .steps li .step-icon::before,
.wizard-body .steps li:last-child .step-icon::after {
    position: absolute;
    content: "";
    background: #e5e5e5;
    width: 1.5rem;
    height: 2px;
    top: 50%;
}

.wizard-body .steps li .step-icon::before {
    right: 100%;
}

.wizard-body .steps li:last-child .step-icon::after {
    left: 100%;
}

.wizard-body .steps li.current a .step-icon,
.wizard-body .steps li.current a:active .step-icon {
    background: #23A5E1;
}

.wizard-body .steps .done .step-icon::before,
.wizard-body .steps li.done a .step-icon,
.wizard-body .steps li.done a:active .step-icon {
    background: #666;
}

.wizard-body .steps .current .step-icon::before {
    background: #23A5E1;
}

.wizard-body .content {
    margin: 0 20px;
    box-shadow: 0px 3px 10px 0px #aaa;
    padding: 30px;
}

.wizard ul {
    list-style: none;
}

.wizard > .actions ul {
    padding: 0 20px;
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
}

.wizard > .actions ul li.disabled {
    opacity: 0;
}

.wizard > .actions ul li {
    padding: 0;
    border: none;
    border-radius: 3px;
    display: inline-flex;
    padding: .5em 1em;
    justify-content: center;
    align-items: center;
    background: #17a2b8;
    font-size: 16px;
}

.wizard > .actions ul li:hover {
    background: #1d97b5;
}

.wizard > .actions ul li:first-child {
    background: #999;
}

.wizard > .actions ul li:first-child:hover {
    background: #666;
}

.wizard > .actions ul li a {
    color: white;
}

/* DualBoxList */
.bootstrap-duallistbox-container .box1 .buttons .btn,
.bootstrap-duallistbox-container .box2 .buttons .btn {
    font-size: 0.5rem;
    line-height: 0.5;
}