body, .dt-button-collection {
    font-size: 13px;
}

/* Account Header */
.header {
    color: #263C91;
    text-align: center;
    margin-top: 40px;
}

/* Account Main Context */
.box-standing-out {
    background: white;
    padding: 80px 80px;
    margin: 60px 0 100px 0;
    box-shadow: 0 0 10px 10px #aaa;
}

/* Main Footer */
.footer-container {
    background: #23A5E1;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    height: 60px;
    width: 300px;
    object-fit: cover;
}

/* EU Consent */
.eu-consent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0 0 3px 3px #aaa;
}

.txt-eu-consent {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.flag-eu-consent {
    float: left;
    margin-right: 10px;
}

.eu-flag {
    width: 70px;
}

/* Main Sidebar */
.main-sidebar {
    background-color: #263C91;
}

/* Main Context */
.page_name {
    color: #263C91;
}

/* Datatables */
th, .sorting_1 {
    white-space: nowrap;
}

.dataTables_filter {
    margin: 40px 4px 0;
}

.dt-col-filter {
    flex-wrap: nowrap;
}

.dt-col-filter > .form-control {
    width: 100px;
    height: 25px;
}

.dt-col-filter > .form-control, .dt-col-filter > .input-group-append > .input-group-text {
    color: #7b8692;
    background-color: #f2f4f6;
    font-size: 13px;
    padding: 0 10px 0 5px;
    border: 0;
}

.dt-button-collection {
    margin: 5px 0;
    font-family: inherit;
}

.dt-action-button {
    float: right;
}

.buttons-columnVisibility {
    margin: 5px 0;
    color: #17a2b8;
    background: white;
    border: 1px solid;
}

table.dataTable tbody tr.selected, .table-hover tbody tr:hover {
    color: white;
    background-color: dodgerblue !important;
}