body, .dt-button-collection {
    font-size: 13px;
}

/* Account Header */
.account-header {
    color: #263C91;
    text-align: center;
    margin: 40px 0 60px 0;
}

/* Account Main Context */
.account-content {
    margin-left: 0 !important;
    justify-items: center;
    background: white;
}

.box-standing-out {
    background: white;
    padding: 40px 40px;
    box-shadow: 0 0 10px 10px #aaa;
    width: 400px;
}

.box-standing-out > h2 {
    color: #23A5E1;
    text-align: center;
    padding: 10px 0 30px 0;
}

.box-standing-out > h5 {
    color: #263C91;
    text-align: center;
}

.box-standing-out > p {
    text-align: justify;
}

/* Main Footer */
.footer-container {
    background: #23A5E1;
    padding: 0.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo {
    height: 50px;
    width: 150px;
    padding-bottom: 5px;
    object-fit: cover;
}

/* EU Consent */
.eu-consent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: white;
    box-shadow: 0 0 3px 3px #aaa;
}

.txt-eu-consent {
    font-size: 10px;
    font-weight: 600;
    color: #000;
}

.flag-eu-consent {
    float: left;
    margin-right: 10px;
}

.eu-flag {
    width: 30px;
}

/* Main Sidebar */
.main-sidebar {
    background-color: #263C91;
}

/* Main Context */
.page_name {
    color: #263C91;
}

/* Datatables */
th, .sorting_1 {
    white-space: nowrap;
}

.dataTables_filter {
    margin: 40px 4px 0;
}

.dt-col-filter {
    flex-wrap: nowrap;
}

.dt-col-filter > .form-control {
    width: 100px;
    height: 25px;
}

.dt-col-filter > .form-control, .dt-col-filter > .input-group-append > .input-group-text {
    color: #7b8692;
    background-color: #f2f4f6;
    font-size: 13px;
    padding: 0 10px 0 5px;
    border: 0;
}

.dt-button-collection {
    margin: 5px 0;
    font-family: inherit;
}

.dt-action-button {
    float: right;
}

.buttons-columnVisibility {
    margin: 5px 0;
    color: #17a2b8;
    background: white;
    border: 1px solid;
}

table.dataTable tbody tr.selected, .table-hover tbody tr:hover {
    color: white;
    background-color: dodgerblue !important;
}

/* Forms */
.input-group-append > .input-group-text {
    background: transparent;
    color: #777;
}

.input-group > .form-control {
    border-right: 0;
}

.input-group .form-control:focus ~ .input-group-append .input-group-text {
    border-color:#80bdff
}

.user-block {
    display: flex;
    flex-wrap: wrap;
}