{% extends "base_form.html" %}
{% load static %}
{% load i18n custom_tags %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}


{% block extra_head %}
    <link href="{% static "password_strength/css/pass_strength.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active"><a href="{% url 'password_strength:password_strength' %}">{% trans "Password Strength" %}</a></li>
{% endblock %}

{#{% block page_name %}#}
{#    <div class="row">#}
{#        <strong>{% trans "Password Strength Test" %}</strong>#}
{#    </div>#}
{#{% endblock %}#}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Password Strength Test</h3>
            <p class="lead">Type your password to check it's strength</p>
            <form>
                <div role="form" action="my_url" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ pass_check_form }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{#    {{ block.super }}#}
    {{ pass_check_form.media }}
{% endblock %}