{% extends "base_form.html" %}
{% load static %}
{% load i18n custom_tags %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}


{% block extra_head %}
    <link href="{% static "password_strength/css/pass_strength.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active"><a href="{% url 'password_strength:password_strength' %}">{% trans "Password Strength" %}</a></li>
{% endblock %}

{#{% block page_name %}#}
{#    <div class="row">#}
{#        <strong>{% trans "Password Strength Test" %}</strong>#}
{#    </div>#}
{#{% endblock %}#}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Password Strength Test</h3>
            <p class="lead">Type your password to check it's strength</p>
            <div class="row">
                <div class="col-md-6">
                    <form id="pass-form">
                        {% crispy pass_check_form pass_check_form.general_info_helper %}
                        <button class="btn btn-primary align-self-start pass-form-submit">Calculate Score</button>
                    </form>
                </div>
                <div class="col-md-4 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">About the game</h4>
                        </div>
                        <div class="card-body collapse show" id="info_card">
                            <div class="card-text">
                                In this game you can test the strength of any password you can imagine.
                                Insert 3 passwords and you will get a total score along with suggestions to improve them.
                            </div>
                            <div class="card-text">
                                These passwords are NOT saved, so feel free to test every kind of passwords
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-sm card-info-btn" type="button" data-toggle="collapse"
                                    data-target="#info_card" aria-expanded="false" aria-controls="info_card">
                                        Read Less
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="password_strength_modal" tabindex="-1" role="dialog"
         aria-labelledby="password_strength_modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="password_strength_modalLabel">Well Done!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card text-white bg-dark">
                        <div class="card-header text-center">
                            <h4>Results</h4>
                        </div>
                        <div class="card-body">
                             <div class="row">
                                <div class="col-md-3 offset-md-3 text-center align-self-center">
                                    <p>Password 1</p>
                                </div>
                                <div class="col-md-3  text-center align-self-center">
                                    <p>Password 2</p>
                                </div>
                                <div class="col-md-3  text-center align-self-center">
                                    <p>Password 3</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 offset-md-3 text-center pass_1-content pass_1_password align-self-center"></div>
                                <div class="col-md-3  text-center pass_2-content pass_2_password align-self-center"></div>
                                <div class="col-md-3  text-center pass_3-content pass_3_password align-self-center"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 align-center">
                                    <p>Score</p>
                                </div>
                                <div class="col-md-3 text-center pass_1_score align-self-center"></div>
                                <div class="col-md-3 text-center pass_2_score align-self-center"></div>
                                <div class="col-md-3 text-center pass_3_score align-self-center"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 align-center">
                                    <p>Crack Display</p>
                                </div>
                                <div class="col-md-3 text-center pass_1_crack_display align-self-center"></div>
                                <div class="col-md-3 text-center pass_2_crack_display align-self-center"></div>
                                <div class="col-md-3 text-center pass_3_crack_display align-self-center"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 align-self-center">
                                    <p>Suggestions</p>
                                </div>
                                <div class="col-md-3 text-center pass_1_suggestions align-self-center"></div>
                                <div class="col-md-3 text-center pass_2_suggestions align-self-center"></div>
                                <div class="col-md-3 text-center pass_3_suggestions align-self-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'password_strength:password_strength' %}" class="btn btn-outline-info" role="button">Try Again</a>
                </div>
            </div>
        </div>
    </div>

{#        <div class="container">#}
{#            <hr>#}
{##}
{##}
{#        </div>#}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "password_strength/js/password_strength.js" %}"></script>
{% endblock %}