{% extends "base.html" %}
{% load static %}
{% load i18n custom_tags %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}

{% block extra_head %}
    <link href="{% static "admin-lte/plugins/toastr/toastr.min.css" %}" rel="stylesheet">
     <link href="{% static 'email_simulation/css/sim_email_form.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container container-fluid">
            <h3 class="display-5 text-center">Simulation Email Form</h3>
            <p class="lead text-center">{% trans "Create an email to run phishing simulation. Please provide somewhere in your email the encrypted link. Insert only .html or .txt files" %}</p>
            <div class="card form-card border-info">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% crispy email_creation_form email_creation_form.general_info_helper %}
                        {% csrf_token %}
                    </form>
                    {% if mode == 'submitted' %}
                        <a href="{% url 'sbam:dashboard' %}" class="btn btn-outline-info float-right" role="button">{% trans "Return to Dashboard"|capfirst %}</a>
                    {% endif %}
                </div>
            </div>

            <div class="card border-info mb-3">
                <div class="card-header text-cyan">Email Preview</div>
                    <div class="card-body preview text-danger">
                    {% if mode == 'submitted' %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="responsive-iframe embed-responsive-item" src="{% url 'email_simulation:email_request' email %}" id="ifrm"   height="300"></iframe>
                        </div>
                        {% else %}
                            <p>No email inserted</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static "admin-lte/plugins/toastr/toastr.min.js" %}"></script>
    <script type="application/javascript">
       let message = "{{ message|safe }}";
    </script>

    <script src="{% static "phishing_quiz/js/email_creation_form.js" %}"></script>

{% endblock %}