{% extends "base.html" %}

{% load i18n static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href='{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %}'/>
{% endblock %}

{% block extra_js %}
    <script src='{% static 'js/jquery.steps.min.js' %}'></script>
    <script src='{% static 'admin-lte/plugins/moment/moment.min.js' %}'></script>
    <script src='{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}'></script>

    <script>
        $(function () {
            /*
            *   Wizards
             */
            $('.wizard-body').steps({
                headerTag: "h2",
                bodyTag: "section",
                transitionEffect: "fade",
                autoFocus: true,
                titleTemplate: '<div class="title">#title#</div>',
                labels: {
                    previous: '< {% trans "Back" %}',
                    next: '{% trans "Next" %} >',
                    finish: '{% trans "Finish" %}',
                    current: ''
                },
                onFinishing: function (event, currentIndex, newIndex) {
                    return $('.wizard-form').submit();
                }
            });

            /*
            *   Daterange picker
             */
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                minYear: 1930,
                maxYear: parseInt(moment().format('YYYY'), 10),
                locale: {
                    format: 'YYYY-MM-DD',
                    daysOfWeek: [
                        '{% trans "Su" %}',
                        '{% trans "Mo" %}',
                        '{% trans "Tu" %}',
                        '{% trans "We" %}',
                        '{% trans "Th" %}',
                        '{% trans "Fr" %}',
                        '{% trans "Sa" %}'
                    ],
                    monthNames: [
                        '{% trans "January" %}',
                        '{% trans "February" %}',
                        '{% trans "March" %}',
                        '{% trans "April" %}',
                        '{% trans "May" %}',
                        '{% trans "June" %}',
                        '{% trans "July" %}',
                        '{% trans "August" %}',
                        '{% trans "September" %}',
                        '{% trans "October" %}',
                        '{% trans "November" %}',
                        '{% trans "December" %}'
                    ]
                }
            }, function (chosen_date) {
                $('.datepicker').val(chosen_date.format('YYYY-MM-DD'));
            });
        });
    </script>
{% endblock %}