{% extends "base.html" %}

{% load i18n static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-lte/plugins/datatables-select/css/select.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/dataTables.checkboxes.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-lte/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-lte/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-lte/plugins/datatables-colreorder/css/colReorder.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="card card-primary card-outline">
        <div class="card-body">
            <table id="table"
                   class="table table-bordered table-hover table-head-fixed table-responsive-lg table-striped">
                {% block table_content %}
                {% endblock %}
            </table>
        </div>
    </div>
{% endblock %}

{% block datatable_js %}
    <script src="{% static 'admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

    <script src="{% static 'admin-lte/plugins/datatables-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-colreorder/js/dataTables.colReorder.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'js/dataTables.checkboxes.min.js' %}"></script>

    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

    <script src="{% static 'admin-lte/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/pdfmake/vfs_fonts.js' %}"></script>

    <script>
        function datatable(tableID, noFilterList, noOrderList, hiddenCol, buttonsVisibility) {
            /* Constructing filter row*/
            $(tableID + ' thead tr').clone(true).appendTo('#table thead');
            $(tableID + ' thead tr:eq(0) th').each(function (i) {
                if (noFilterList.includes(i)) {
                    $(this).html('');
                } else {
                    var title = $(this).text();
                    $(this).html(
                        '<div class="input-group input-group-xs dt-col-filter">' +
                        '<input type="text" class="form-control" placeholder="' + title + '" />' +
                        '<div class="input-group-append">' +
                        '<span class="input-group-text">' +
                        '<i class="fas fa-filter"></i>' +
                        '</span>' +
                        '</div>' +
                        '</div>'
                    );
                }
            });

            /* Constants used by datatable buttons */
            const now = new Date();
            const title = '{{ settings.TOOL_SHORT_NAME }}_' + '{{ request.resolver_match.view_name }}'.replace('sbam:', '');
            const filename = title + '_' + now.toLocaleDateString('en-US', {
                month: '2-digit',
                day: '2-digit',
                year: 'numeric'
            });

            /* Constructing datatable */
            var table = $(tableID).DataTable({
                    fixedHeader: true,
                    searching: true,
                    autoWidth: true,
                    scrollY: 300,
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    order: [[noFilterList.length-1, 'asc']],
                    columnDefs: [
                        {
                            targets: 0,
                            className: 'noVis',
                            orderable: false,
                            checkboxes: {
                                selectRow: true
                            }
                        },
                        {
                            targets: noFilterList,
                            className: 'noVis'
                        },
                        {
                            targets: noOrderList,
                            orderable: false
                        },
                        {
                            targets: hiddenCol,
                            className: 'noVis',
                            searchable: false,
                            visible: false
                        }
                    ],
                    select: {
                        style: 'multi'
                    },
                    fixedColumns: {
                        leftColumns: noFilterList.length
                    },
                    colReorder: {
                        fixedColumnsLeft: noFilterList.length
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'collection',
                            className: 'btn btn-outline-info btn-sm',
                            text: '<i class="fas fa-plus-circle"></i>',
                            titleAttr: '{% trans "Add" %}',
                            buttons: [
                                {
                                    className: 'dropdown-item',
                                    text: '<i class="fas fa-user mr-2"></i> {% trans "Add User" %}',
                                    action: function (e, dt, node, config) {
                                        window.location = "{% url 'sbam:create_user' %}";
                                    }
                                },
                                {
                                    className: 'dropdown-item',
                                    text: '<i class="fas fa-users mr-1"></i> {% trans "Add Group" %}',
                                    action: function (e, dt, node, config) {
                                        // TODO redirect to "Create New Group" form
                                        window.location = "{% url 'sbam:create_group' %}";
                                    }
                                }
                            ]
                        },
                        {% comment %}{
                            className: 'btn btn-outline-info btn-sm',
                            text: '<i class="fas fa-file-upload"></i>',
                            titleAttr: '{% trans "Import from file" %}',
                            action: function (e, dt, node, config) {
                                // TODO redirect to "Import from file" form
                                window.location = 'dashboard';
                            },
                            titleAttr: '{% trans "Import from file" %}'
                        },{% endcomment %}
                        {
                            extend: 'colvis',
                            className: 'btn btn-outline-info btn-sm',
                            text: '<i class="fas fa-columns"></i>',
                            titleAttr: '{% trans "Show/Hide Columns" %}',
                            columns: ':not(.noVis)',
                            postfixButtons: [
                                {
                                    extend: 'colvisRestore',
                                    text: '{% trans "Select All" %}'
                                }
                            ]
                        },
                        {
                            extend: 'copy',
                            className: 'btn btn-outline-info btn-sm',
                            text: '<i class="far fa-copy"></i>',
                            titleAttr: '{% trans "Copy" %}',
                            exportOptions: {
                                columns: ':not(.noVis):visible'
                            }
                        },
                        {
                            extend: 'print',
                            className: 'btn btn-outline-info btn-sm',
                            text: '<i class="fas fa-print"></i>',
                            title: title,
                            titleAttr: '{% trans "Print" %}',
                            exportOptions: {
                                columns: ':not(.noVis):visible'
                            }
                        },
                        {
                            extend: 'collection',
                            className: 'btn btn-outline-info btn-sm',
                            text: '<i class="fas fa-file-export"></i>',
                            titleAttr: '{% trans "Export to file" %}',
                            buttons: [
                                {
                                    extend: 'excel',
                                    className: 'dropdown-item',
                                    text: '<i class="far fa-file-excel mr-2"></i> {% trans "Export to Excel" %}',
                                    filename: filename,
                                    title: title,
                                    exportOptions: {
                                        columns: ':not(.noVis):visible'
                                    }
                                },
                                {
                                    extend: 'csv',
                                    className: 'dropdown-item',
                                    text: '<i class="far fa-file-alt mr-2"></i> {% trans "Export to CSV" %}',
                                    filename: filename,
                                    title: title,
                                    exportOptions: {
                                        columns: ':not(.noVis):visible'
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    className: 'dropdown-item',
                                    text: '<i class="far fa-file-pdf mr-2"></i> {% trans "Export to PDF" %}',
                                    filename: filename,
                                    title: title,
                                    exportOptions: {
                                        columns: ':not(.noVis):visible'
                                    },
                                    orientation: 'landscape',
                                    pageSize: 'LEGAL'
                                }
                            ]
                        }
                    ]
                }
            );

            /* Toogling buttons visibility */
            var btn_group_class = 'btn-group float-left';
            if (!buttonsVisibility) {
                btn_group_class = btn_group_class + ' invisible';
            }
            $('.dt-buttons').addClass(btn_group_class);

            /* Apply column filter search */
            table.columns().eq(0).each(function (i) {
                $('input', $('th')[i]).on('keyup change clear', function () {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                });
            });

            /* Add event listener for opening and closing row details */
            $('#table tbody').on('click', '.fa-plus-circle', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    var data = row.data();
                    row.child(data[hiddenCol]).show();
                    tr.addClass('shown');
                }
            });
        }
    </script>
{% endblock %}