.campaign_creation_form{
    max-width: 100%;
    padding: 0;
}

.legend{
    color: #263C91;
    margin-left: 20px;
    margin-top: 15px;
}

.content-header{
    /*padding: 2px;*/
}

.input-fields{
    box-shadow: 1px 1px 3px 1px #a3a3a3;
    padding: 0.4%;
    background-color: #ffffff;
    border-radius: 15px;
    /*margin-top: 1%;*/
}

.selected-items{
    margin-top: 1%;
    width:100%;
}

.sel_index {
   width: 10%;
}

/* .table td {
   text-align: center;
}

.table th {
   text-align: center;
} */

.selected-row{
    min-height: 37vh;
    background-color: #d6d6d626;
    padding-top: 5px;
}

.labels{
    text-align: center;
    box-shadow: 0px 1px 0px 0px #5c4f4f30;
    margin-bottom: 7px;
    color: #263c91;
    /* height: 3vh; */
}

.campaign_creation_form .form-row{
    min-height: 30vh;
}


.tree_container{
    max-height: 55vh;
    overflow: auto;
}

.selected-items{
    height: 32vh;
    overflow: auto;
}

.table .thead-dark th {
    color: #fff;
    background-color: #284767;
    border-color: transparent;
}