.campaign_creation_form{
    max-width: 100%;
    padding: 0;
}

.legend{
    color: #263C91;
    margin-left: 20px;
    margin-top: 15px;
}

.questionnaiers{
    height: 25vh;
    overflow: auto;
}

.tests{
    height: 25vh;
    overflow: auto;
}

.users{
    height: 25vh;
    overflow: auto;
}

.sel_domains{
    max-height: 32vh;
    overflow: auto;
}

.sel_tests{
    max-height: 32vh;
    overflow: auto;
}

.sel_users{
    max-height: 32vh;
    overflow: auto;
}

.content-header{
    /*padding: 2px;*/
}

.input-fields{
    box-shadow: 1px 1px 3px 1px #a3a3a3;
    padding: 0.4%;
    background-color: #ffffff;
    border-radius: 15px;
    /*margin-top: 1%;*/
}

.selected-items{
    margin-top: 1%;
    width:100%;
}

.sel_index {
   width: 10%;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

.selected-row{
    max-height: 32vh;
}

.labels{
    text-align: center;
    box-shadow: 0px 2px 1px 0px #5c4f4f30;
    margin-bottom: 7px;
    border-radius: 15px;
}