{% extends "base_form.html" %}
{% load static %}
{% load i18n custom_tags %}

{% load i18n adminlte_helpers crispy_forms_tags crispy_forms_field widget_tweaks %}


{% block extra_head %}
    <link href="{% static "password_strength/css/pass_strength.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active"><a href="{% url 'password_strength_app:password_strength' %}">{% trans "Password Strength" %}</a></li>
{% endblock %}

{#{% block page_name %}#}
{#    <div class="row">#}
{#        <strong>{% trans "Password Strength Test" %}</strong>#}
{#    </div>#}
{#{% endblock %}#}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h3 class="display-4 text-center">Password Strength Test</h3>
            <p class="lead text-center">Type your passwords to check their strength</p>
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <form id="pass-form" method="post">
                        {% crispy pass_check_form pass_check_form.general_info_helper %}
                        <button class="btn btn-primary align-self-start pass-form-submit">Calculate Score</button>
                    </form>
                </div>
                <div class="col-md-4 offset-md-1">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">About the game</h4>
                        </div>
                        <div class="card-body collapse show" id="info_card">
                            <div class="card-text">
                                In this game you can test the strength of your passwords.
                            </div>
                            <div class="card-text">
                                Insert 3 passwords like the ones that you usually use in order to evaluate their strength.
                            </div>
                            <div class="card-text alert alert-danger" role="alert">
                                Your input is NOT saved, so feel free to test any kind of passwords.
                            </div>
                        </div>
{#                        <div class="card-footer">#}
{#                            <button class="btn btn-primary btn-sm card-info-btn" type="button" data-toggle="collapse"#}
{#                                    data-target="#info_card" aria-expanded="false" aria-controls="info_card">#}
{#                                        Read Less#}
{#                            </button>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="password_strength_modal" tabindex="-1" role="dialog"
         aria-labelledby="password_strength_modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="password_strength_modalLabel">Results</h5>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 text-center align-self-center offset-3 font-weight-bold">Password 1</div>
                                <div class="col-md-3 text-center align-self-center font-weight-bold">Password 2</div>
                                <div class="col-md-3 text-center align-self-center font-weight-bold">Password 3</div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 align-self-center">
                                    Score
                                </div>
                                <div class="col-md-3 text-center pass_1_score align-self-center"><span class="pass_1_badge"></span></div>
                                <div class="col-md-3 text-center pass_2_score align-self-center"><span class="pass_2_badge"></span></div>
                                <div class="col-md-3 text-center pass_3_score align-self-center"><span class="pass_3_badge"></span></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 align-self-center">
                                    Time to crack  <i class="fas fa-info-circle " data-toggle="tooltip" data-placement="top" title="Time for a computer to bypass this password"></i>
                                </div>
                                <div class="col-md-3 text-center pass_1_crack_display align-self-center"></div>
                                <div class="col-md-3 text-center pass_2_crack_display align-self-center"></div>
                                <div class="col-md-3 text-center pass_3_crack_display align-self-center"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 align-self-center">
                                    Weakness Factor  <i class="fas fa-info-circle " data-toggle="tooltip" data-placement="top" title="Get weakness factor as a float in range [0, 1]. This detects the portion of the string that contains repeated patterns and sequences"></i>
                                </div>
                                <div class="col-md-3 text-center pass_1_weakness_factor align-self-center"></div>
                                <div class="col-md-3 text-center pass_2_weakness_factor align-self-center"></div>
                                <div class="col-md-3 text-center pass_3_weakness_factor align-self-center"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 align-self-center">
                                    Suggestions
                                </div>
                                <div class="col-md-3 pass_1_suggestions"></div>
                                <div class="col-md-3 pass_2_suggestions"></div>
                                <div class="col-md-3 pass_3_suggestions"></div>
                            </div>
                            <hr>
                            <div class="row alert alert-info"  role="alert">
                                <div class="col-md-3 align-self-center">
                                    Total Score
                                </div>
                                <div class="col-md-9 text-center total_score align-self-center"><span class="badge"></span></div>
                            </div>
                            <hr>
{#                            <div class="row">#}
                                <div class="jumbotron jumbotron-fluid general-suggestions">
                                    <div class="container-fluid">
                                        <h3>General Suggestions</h3>
                                        <div class="col-md-12">
                                            <ul>
                                                <li>You should avoid using words found in password blacklists</li>
                                                <li>You should avoid using company name or abbreviation</li>
                                                <li>You should avoid using passwords that match the format of calendar dates,
                                                license plate numbers, telephone numbers, or other common numbers</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
{#                            </div>#}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'sbam:dashboard' %}" class="btn btn-info" role="button">Finish</a>
                </div>
            </div>
        </div>
    </div>

{#        <div class="container">#}
{#            <hr>#}
{##}
{##}
{#        </div>#}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "password_strength/js/password_strength.js" %}"></script>
{% endblock %}